<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>Redistricting Tools</Name>
  <AddInID>{7636b0fd-9810-4556-ad37-16712f73f872}</AddInID>
  <Description>Visually create and manage districting plans of polygons.</Description>
  <Version>0.1</Version>
  <Image />
  <Author>The Ohio State University Department of Geography</Author>
  <Company>TheDistrict</Company>
  <Date>04/24/2016</Date>
  <Targets>
    <Target name="Desktop" version="10.1" />
  </Targets>
  <AddIn language="PYTHON" library="DSaddin_addin.py" namespace="DSaddin_addin">
    <ArcMap>
      <Commands>
        <Button caption="Add District" category="DSaddin" class="DistrictButon" id="DSaddin_district.button" image="" message="Adds the currently selected features to a new district in the current plan." tip="Add District"></Button>
        <Button caption="Finish Plan" category="DSaddin" class="SummaryButon" id="DSaddin_summary.button" image="" message="Show the results of the current plan and provide options to export the data." tip="Finish Plan"></Button>
      </Commands>
      <Extensions>
      </Extensions>
      <Toolbars>
          <Toolbar caption="Redistricting Tools" category="DSaddin" id="DSaddin.toolbar" showInitially="true">
            <Items>
              <Button refID="DSaddin_district.button" />
              <Button refID="DSaddin_summary.button" />
            </Items>
          </Toolbar>
      </Toolbars>
      <Menus>
      </Menus>
    </ArcMap>
  </AddIn>
</ESRI.Configuration>
